<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/NF28-TD05-Examples/src/fr/utc/nf28/td05/dragndrop/ExampleDragAndDrop01.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="fr.utc.nf28.td05.dragndrop.ExampleDragAndDrop01"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="NF28-TD05-Examples"/>
</launchConfiguration>
